.Agatha_ie8 {
    background: no-repeat center center fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../content/images/Employees/1.png', sizingMethod='scale');
}

.Andrew_ie8 {
    background: no-repeat center center fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../content/images/Employees/2.png', sizingMethod='scale');
}

.Lilly_ie8 {
    background: no-repeat center center fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../content/images/Employees/3.png', sizingMethod='scale');
}

.Jaden_ie8 {
    background: none no-repeat fixed center bottom;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../content/images/Employees/4.png', sizingMethod='scale');
}

.Angel_ie8 {
    background: no-repeat center center fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../content/images/Employees/5.png', sizingMethod='scale');
}

.Joe_ie8 {
    background: no-repeat center center fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../content/images/Employees/6.png', sizingMethod='scale');
    background: none no-repeat left center fixed;
}

.Marie_ie8 {
    background: no-repeat center center fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../content/images/Employees/7.png', sizingMethod='scale');
}

.Mage_ie8 {
    background: no-repeat center center fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../content/images/Employees/8.png', sizingMethod='scale');
}

profileimage {
    background: no-repeat center center fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../content/images/Employees/2.png', sizingMethod='scale');
}

.photoimage1_ie8 {
    background: no-repeat center center fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../content/images/navigationdrawer/photo/01.png', sizingMethod='scale');
}

.photoimage2_ie8 {
    background: no-repeat center center fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../content/images/navigationdrawer/photo/02.png', sizingMethod='scale');
}

.photoimage3_ie8 {
    background: no-repeat center center fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../content/images/navigationdrawer/photo/03.png', sizingMethod='scale');
}

.photoimage4_ie8 {
    background: no-repeat center center fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../content/images/navigationdrawer/photo/04.png', sizingMethod='scale');
}

.photoimage5_ie8 {
    background: no-repeat center center fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../content/images/navigationdrawer/photo/05.png', sizingMethod='scale');
}

.photoimage6_ie8 {
    background: no-repeat center center fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../content/images/navigationdrawer/photo/06.png', sizingMethod='scale');
}

.profileimage {
    background: no-repeat center center fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../content/images/Employees/2.png', sizingMethod='scale');
}
