.st0 {
    fill: #7EFF01;
}

.st1 {
    fill: #FFFFFF;
}

.st2 {
    fill: #9ABEE8;
}

.st3 {
    fill: #8299B1;
}

.st4 {
    fill: none;
    stroke: #8299B1;
    stroke-miterlimit: 10;
}

.st5 {
    fill: #FE0304;
}

.st6 {
    fill: #FFFFFF;
}

.st7 {
    fill: #7BFE00;
}

.st8 {
    fill: #FFC10E;
}

.st9 {
    fill: #F2CF3D;
}

.st10 {
    fill: #6E95C7;
}

.st11 {
    fill: #FF0008;
}

.st12 {
    fill: #0BB35F;
}

.st13 {
    fill: #FABF09;
}

.st14 {
    fill: #C5C6C9;
}

.st15 {
    fill: #E72328;
}

.st16 {
    fill: #8BC35B;
}

.st17 {
    fill: #9ABEE8;
}
.st18 {
    fill: #8299B1;
}
.st19 {
    fill: #8BC35B;
}


.Production_Electrical0 {
    fill: #6B9ACE;
}

.Production_Electrical1 {
    fill: #699CCD;
}

.Production_Electrical2 {
    fill: #9ABEE8;
}

.Production_Electrical3 {
    fill: #8299B1;
}

.Production_Electrical4 {
    fill: none;
    stroke: #8299B1;
    stroke-miterlimit: 10;
}

.Production_Electrical5 {
    fill: #FE0304;
}

.Production_Electrical6 {
    fill: #FFFFFF;
}

.Production_Electrical7 {
    fill: #7BFE00;
}

.Production_Electrical8 {
    fill: #FFC10E;
}

.Production_Electrical9 {
    fill: #F2CF3D;
}

.Production_Electrical10 {
    fill: #6E95C7;
}

.Production_Electrical11 {
    fill: #FF0008;
}

.Production_Electrical12 {
    fill: #0BB35F;
}

.Production_Electrical13 {
    fill: #FABF09;
}

.Production_Electrical14 {
    fill: #C5C6C9;
}

.Production_Electrical15 {
    fill: #E72328;
}

.Production_Electrical16 {
    fill: #8BC35B;
}

.Production_Down0 {
    fill: #6B9ACE;
}

.Production_Down1 {
    fill: #699CCD;
}

.Production_Down2 {
    fill: #9ABEE8;
}

.Production_Down3 {
    fill: #8299B1;
}

.Production_Down4 {
    fill: none;
    stroke: #8299B1;
    stroke-miterlimit: 10;
}

.Production_Down5 {
    fill: #FE0304;
}

.Production_Down6 {
    fill: #FFFFFF;
}

.Production_Down7 {
    fill: #7BFE00;
}

.Production_Down8 {
    fill: #FFC10E;
}

.Production_Down9 {
    fill: #F2CF3D;
}

.Production_Down10 {
    fill: #6E95C7;
}

.Production_Down11 {
    fill: #FF0008;
}

.Production_Down12 {
    fill: #0BB35F;
}

.Production_Down13 {
    fill: #FABF09;
}

.Production_Down14 {
    fill: #C5C6C9;
}

.Production_Down15 {
    fill: #E72328;
}

.Production_Down16 {
    fill: #8BC35B;
}


.Production_Car0 {
    fill: #6B9ACE;
}

.Production_Car1 {
    fill: #699CCD;
}

.Production_Car2 {
    fill: #9ABEE8;
}

.Production_Car3 {
    fill: #8299B1;
}

.Production_Car4 {
    fill: none;
    stroke: #8299B1;
    stroke-miterlimit: 10;
}

.Production_Car5 {
    fill: #FE0304;
}

.Production_Car6 {
    fill: #FFFFFF;
}

.Production_Car7 {
    fill: #7BFE00;
}

.Production_Car8 {
    fill: #FFC10E;
}

.Production_Car9 {
    fill: #F2CF3D;
}

.Production_Car10 {
    fill: #6E95C7;
}

.Production_Car11 {
    fill: #FF0008;
}

.Production_Car12 {
    fill: #0BB35F;
}

.Production_Car13 {
    fill: #FABF09;
}

.Production_Car14 {
    fill: #C5C6C9;
}

.Production_Car15 {
    fill: #E72328;
}

.Production_Car16 {
    fill: #8BC35B;
}



.Production_Break0 {
    fill: #6B9ACE;
}

.Production_Break1 {
    fill: #699CCD;
}

.Production_Break2 {
    fill: #9ABEE8;
}

.Production_Break3 {
    fill: #8299B1;
}

.Production_Break4 {
    fill: none;
    stroke: #8299B1;
    stroke-miterlimit: 10;
}

.Production_Break5 {
    fill: #FE0304;
}

.Production_Break6 {
    fill: #FFFFFF;
}

.Production_Break7 {
    fill: #7BFE00;
}

.Production_Break8 {
    fill: #FFC10E;
}

.Production_Break9 {
    fill: #F2CF3D;
}

.Production_Break10 {
    fill: #6E95C7;
}

.Production_Break11 {
    fill: #FF0008;
}

.Production_Break12 {
    fill: #0BB35F;
}

.Production_Break13 {
    fill: #FABF09;
}

.Production_Break14 {
    fill: #C5C6C9;
}

.Production_Break15 {
    fill: #E72328;
}

.Production_Break16 {
    fill: #8BC35B;
}



.Production_Active0 {
    fill: #6B9ACE;
}

.Production_Active1 {
    fill: #699CCD;
}

.Production_Active2 {
    fill: #9ABEE8;
}

.Production_Active3 {
    fill: #8299B1;
}

.Production_Active4 {
    fill: none;
    stroke: #8299B1;
    stroke-miterlimit: 10;
}

.Production_Active5 {
    fill: #FE0304;
}

.Production_Active6 {
    fill: #FFFFFF;
}

.Production_Active7 {
    fill: #7BFE00;
}

.Production_Active8 {
    fill: #FFC10E;
}

.Production_Active9 {
    fill: #F2CF3D;
}

.Production_Active10 {
    fill: #6E95C7;
}

.Production_Active11 {
    fill: #FF0008;
}

.Production_Active12 {
    fill: #0BB35F;
}

.Production_Active13 {
    fill: #FABF09;
}

.Production_Active14 {
    fill: #C5C6C9;
}

.Production_Active15 {
    fill: #E72328;
}

.Production_Active16 {
    fill: #8BC35B;
}



.Production_WithinLimits0 {
    fill: #6B9ACE;
}

.Production_WithinLimits1 {
    fill: #699CCD;
}

.Production_WithinLimits2 {
    fill: #9ABEE8;
}

.Production_WithinLimits3 {
    fill: #8299B1;
}

.Production_WithinLimits4 {
    fill: none;
    stroke: #8299B1;
    stroke-miterlimit: 10;
}

.Production_WithinLimits5 {
    fill: #FE0304;
}

.Production_WithinLimits6 {
    fill: #FFFFFF;
}

.Production_WithinLimits7 {
    fill: #7BFE00;
}

.Production_WithinLimits8 {
    fill: #FFC10E;
}

.Production_WithinLimits9 {
    fill: #F2CF3D;
}

.Production_WithinLimits10 {
    fill: #6E95C7;
}

.Production_WithinLimits11 {
    fill: #FF0008;
}

.Production_WithinLimits12 {
    fill: #0BB35F;
}

.Production_WithinLimits13 {
    fill: #FABF09;
}

.Production_WithinLimits14 {
    fill: #C5C6C9;
}

.Production_WithinLimits15 {
    fill: #E72328;
}

.Production_WithinLimits16 {
    fill: #8BC35B;
}



.Production_Transmission0 {
    fill: #6B9ACE;
}

.Production_Transmission1 {
    fill: #699CCD;
}

.Production_Transmission2 {
    fill: #9ABEE8;
}

.Production_Transmission3 {
    fill: #8299B1;
}

.Production_Transmission4 {
    fill: none;
    stroke: #8299B1;
    stroke-miterlimit: 10;
}

.Production_Transmission5 {
    fill: #FE0304;
}

.Production_Transmission6 {
    fill: #FFFFFF;
}

.Production_Transmission7 {
    fill: #7BFE00;
}

.Production_Transmission8 {
    fill: #FFC10E;
}

.Production_Transmission9 {
    fill: #F2CF3D;
}

.Production_Transmission10 {
    fill: #6E95C7;
}

.Production_Transmission11 {
    fill: #FF0008;
}

.Production_Transmission12 {
    fill: #0BB35F;
}

.Production_Transmission13 {
    fill: #FABF09;
}

.Production_Transmission14 {
    fill: #C5C6C9;
}

.Production_Transmission15 {
    fill: #E72328;
}

.Production_Transmission16 {
    fill: #8BC35B;
}



.Production_Seats0 {
    fill: #6B9ACE;
}

.Production_Seats1 {
    fill: #699CCD;
}

.Production_Seats2 {
    fill: #9ABEE8;
}

.Production_Seats3 {
    fill: #8299B1;
}

.Production_Seats4 {
    fill: none;
    stroke: #8299B1;
    stroke-miterlimit: 10;
}

.Production_Seats5 {
    fill: #FE0304;
}

.Production_Seats6 {
    fill: #FFFFFF;
}

.Production_Seats7 {
    fill: #7BFE00;
}

.Production_Seats8 {
    fill: #FFC10E;
}

.Production_Seats9 {
    fill: #F2CF3D;
}

.Production_Seats10 {
    fill: #6E95C7;
}

.Production_Seats11 {
    fill: #FF0008;
}

.Production_Seats12 {
    fill: #0BB35F;
}

.Production_Seats13 {
    fill: #FABF09;
}

.Production_Seats14 {
    fill: #C5C6C9;
}

.Production_Seats15 {
    fill: #E72328;
}

.Production_Seats16 {
    fill: #8BC35B;
}



.Production_QualityCheck0 {
    fill: #6B9ACE;
}

.Production_QualityCheck1 {
    fill: #699CCD;
}

.Production_QualityCheck2 {
    fill: #9ABEE8;
}

.Production_QualityCheck3 {
    fill: #8299B1;
}

.Production_QualityCheck4 {
    fill: none;
    stroke: #8299B1;
    stroke-miterlimit: 10;
}

.Production_QualityCheck5 {
    fill: #FE0304;
}

.Production_QualityCheck6 {
    fill: #FFFFFF;
}

.Production_QualityCheck7 {
    fill: #7BFE00;
}

.Production_QualityCheck8 {
    fill: #FFC10E;
}

.Production_QualityCheck9 {
    fill: #F2CF3D;
}

.Production_QualityCheck10 {
    fill: #6E95C7;
}

.Production_QualityCheck11 {
    fill: #FF0008;
}

.Production_QualityCheck12 {
    fill: #0BB35F;
}

.Production_QualityCheck13 {
    fill: #FABF09;
}

.Production_QualityCheck14 {
    fill: #C5C6C9;
}

.Production_QualityCheck15 {
    fill: #E72328;
}

.Production_QualityCheck16 {
    fill: #8BC35B;
}



.Production_Panit_Red0 {
    fill: #6B9ACE;
}

.Production_Panit_Red1 {
    fill: #699CCD;
}

.Production_Panit_Red2 {
    fill: #9ABEE8;
}

.Production_Panit_Red3 {
    fill: #8299B1;
}


.Production_Panit_Red4 {
    fill: none;
    stroke: #8299B1;
    stroke-miterlimit: 10;
}

.Production_Panit_Red5 {
    fill: #FE0304;
}

.Production_Panit_Red6 {
    fill: #FFFFFF;
}

.Production_Panit_Red7 {
    fill: #7BFE00;
}

.Production_Panit_Red8 {
    fill: #FFC10E;
}

.Production_Panit_Red9 {
    fill: #F2CF3D;
}

.Production_Panit_Red10 {
    fill: #6E95C7;
}

.Production_Panit_Red11 {
    fill: #FF0008;
}

.Production_Panit_Red12 {
    fill: #0BB35F;
}

.Production_Panit_Red13 {
    fill: #FABF09;
}

.Production_Panit_Red14 {
    fill: #C5C6C9;
}

.Production_Panit_Red15 {
    fill: #E72328;
}

.Production_Panit_Red16 {
    fill: #8BC35B;
}



.Production_Paint_Yellow0 {
    fill: #6B9ACE;
}

.Production_Paint_Yellow1 {
    fill: #699CCD;
}

.Production_Paint_Yellow2 {
    fill: #9ABEE8;
}

.Production_Paint_Yellow3 {
    fill: #8299B1;
}

.Production_Paint_Yellow4 {
    fill: none;
    stroke: #8299B1;
    stroke-miterlimit: 10;
}

.Production_Paint_Yellow5 {
    fill: #FE0304;
}

.Production_Paint_Yellow6 {
    fill: #FFFFFF;
}

.Production_Paint_Yellow7 {
    fill: #7BFE00;
}

.Production_Paint_Yellow8 {
    fill: #FFC10E;
}

.Production_Paint_Yellow9 {
    fill: #F2CF3D;
}

.Production_Paint_Yellow10 {
    fill: #6E95C7;
}

.Production_Paint_Yellow11 {
    fill: #FF0008;
}

.Production_Paint_Yellow12 {
    fill: #0BB35F;
}

.Production_Paint_Yellow13 {
    fill: #FABF09;
}

.Production_Paint_Yellow14 {
    fill: #C5C6C9;
}

.Production_Paint_Yellow15 {
    fill: #E72328;
}

.Production_Paint_Yellow16 {
    fill: #8BC35B;
}


.Production_Paint_Green0 {
    fill: #6B9ACE;
}

.Production_Paint_Green1 {
    fill: #699CCD;
}

.Production_Paint_Green2 {
    fill: #9ABEE8;
}

.Production_Paint_Green3 {
    fill: #8299B1;
}

.Production_Paint_Green4 {
    fill: none;
    stroke: #8299B1;
    stroke-miterlimit: 10;
}

.Production_Paint_Green5 {
    fill: #FE0304;
}

.Production_Paint_Green6 {
    fill: #FFFFFF;
}

.Production_Paint_Green7 {
    fill: #7BFE00;
}

.Production_Paint_Green8 {
    fill: #FFC10E;
}

.Production_Paint_Green9 {
    fill: #F2CF3D;
}

.Production_Paint_Green10 {
    fill: #6E95C7;
}

.Production_Paint_Green11 {
    fill: #FF0008;
}

.Production_Paint_Green12 {
    fill: #0BB35F;
}

.Production_Paint_Green13 {
    fill: #FABF09;
}

.Production_Paint_Green14 {
    fill: #C5C6C9;
}

.Production_Paint_Green15 {
    fill: #E72328;
}

.Production_Paint_Green16 {
    fill: #8BC35B;
}



.Production_Optimal0 {
    fill: #6B9ACE;
}

.Production_Optimal1 {
    fill: #699CCD;
}

.Production_Optimal2 {
    fill: #9ABEE8;
}

.Production_Optimal3 {
    fill: #8299B1;
}

.Production_Optimal4 {
    fill: none;
    stroke: #8299B1;
    stroke-miterlimit: 10;
}

.Production_Optimal5 {
    fill: #FE0304;
}


.Production_Optimal6 {
    fill: #FFFFFF;
}

.Production_Optimal7 {
    fill: #7BFE00;
}

.Production_Optimal8 {
    fill: #FFC10E;
}

.Production_Optimal9 {
    fill: #F2CF3D;
}

.Production_Optimal10 {
    fill: #6E95C7;
}

.Production_Optimal11 {
    fill: #FF0008;
}

.Production_Optimal12 {
    fill: #0BB35F;
}

.Production_Optimal13 {
    fill: #FABF09;
}

.Production_Optimal14 {
    fill: #C5C6C9;
}

.Production_Optimal15 {
    fill: #E72328;
}

.Production_Optimal16 {
    fill: #8BC35B;
}


.Production_Non0 {
    fill: #6B9ACE;
}

.Production_Non1 {
    fill: #699CCD;
}

.Production_Non2 {
    fill: #9ABEE8;
}

.Production_Non3 {
    fill: #8299B1;
}

.Production_Non4 {
    fill: none;
    stroke: #8299B1;
    stroke-miterlimit: 10;
}

.Production_Non5 {
    fill: #FE0304;
}

.Production_Non6 {
    fill: #FFFFFF;
}

.Production_Non7 {
    fill: #7BFE00;
}

.Production_Non8 {
    fill: #FFC10E;
}

.Production_Non9 {
    fill: #F2CF3D;
}

.Production_Non10 {
    fill: #6E95C7;
}

.Production_Non11 {
    fill: #FF0008;
}

.Production_Non12 {
    fill: #0BB35F;
}

.Production_Non13 {
    fill: #FABF09;
}

.Production_Non14 {
    fill: #C5C6C9;
}

.Production_Non15 {
    fill: #E72328;
}

.Production_Non16 {
    fill: #8BC35B;
}


.Production_Load0 {
    fill: #6B9ACE;
}

.Production_Load1 {
    fill: #699CCD;
}

.Production_Load2 {
    fill: #9ABEE8;
}

.Production_Load3 {
    fill: #8299B1;
}

.Production_Load4 {
    fill: none;
    stroke: #8299B1;
    stroke-miterlimit: 10;
}

.Production_Load5 {
    fill: #FE0304;
}

.Production_Load6 {
    fill: #FFFFFF;
}

.Production_Load7 {
    fill: #7BFE00;
}

.Production_Load8 {
    fill: #FFC10E;
}

.Production_Load9 {
    fill: #F2CF3D;
}

.Production_Load10 {
    fill: #6E95C7;
}

.Production_Load11 {
    fill: #FF0008;
}


.Production_Load12 {
    fill: #0BB35F;
}

.Production_Load13 {
    fill: #FABF09;
}

.Production_Load14 {
    fill: #C5C6C9;
}

.Production_Load15 {
    fill: #E72328;
}

.Production_Load16 {
    fill: #8BC35B;
}



.stProduction_Frameassy0 {
    fill: #6B9ACE;
}

.stProduction_Frameassy1 {
    fill: #699CCD;
}

.stProduction_Frameassy2 {
    fill: #9ABEE8;
}


.stProduction_Frameassy3 {
    fill: #8299B1;
}

.stProduction_Frameassy4 {
    fill: none;
    stroke: #8299B1;
    stroke-miterlimit: 10;
}

.stProduction_Frameassy5 {
    fill: #FE0304;
}

.stProduction_Frameassy6 {
    fill: #FFFFFF;
}

.stProduction_Frameassy7 {
    fill: #7BFE00;
}

.stProduction_Frameassy8 {
    fill: #FFC10E;
}

.stProduction_Frameassy9 {
    fill: #F2CF3D;
}

.stProduction_Frameassy10 {
    fill: #6E95C7;
}

.stProduction_Frameassy11 {
    fill: #FF0008;
}

.stProduction_Frameassy12 {
    fill: #0BB35F;
}

.stProduction_Frameassy13 {
    fill: #FABF09;
}

.stProduction_Frameassy14 {
    fill: #C5C6C9;
}

.stProduction_Frameassy15 {
    fill: #E72328;
}

.stProduction_Frameassy16 {
    fill: #8BC35B;
}



.Production_engineFitting0 {
    fill: #6B9ACE;
}

.Production_engineFitting1 {
    fill: #699CCD;
}

.Production_engineFitting2 {
    fill: #9ABEE8;
}

.Production_engineFitting3 {
    fill: #8299B1;
}

.Production_engineFitting4 {
    fill: none;
    stroke: #8299B1;
    stroke-miterlimit: 10;
}

.Production_engineFitting5 {
    fill: #FE0304;
}

.Production_engineFitting6 {
    fill: #FFFFFF;
}

.Production_engineFitting7 {
    fill: #7BFE00;
}

.Production_engineFitting8 {
    fill: #FFC10E;
}

.Production_engineFitting9 {
    fill: #F2CF3D;
}

.Production_engineFitting10 {
    fill: #6E95C7;
}

.Production_engineFitting11 {
    fill: #FF0008;
}

.Production_engineFitting12 {
    fill: #0BB35F;
}

.Production_engineFitting13 {
    fill: #FABF09;
}

.Production_engineFitting14 {
    fill: #C5C6C9;
}

.Production_engineFitting15 {
    fill: #E72328;
}

.Production_engineFitting16 {
    fill: #8BC35B;
}


.Production_CriticallyLow0 {
    fill: #6B9ACE;
}

.Production_CriticallyLow1 {
    fill: #699CCD;
}

.Production_CriticallyLow2 {
    fill: #9ABEE8;
}

.Production_CriticallyLow3 {
    fill: #8299B1;
}

.Production_CriticallyLow4 {
    fill: none;
    stroke: #8299B1;
    stroke-miterlimit: 10;
}

.Production_CriticallyLow5 {
    fill: #FE0304;
}

.Production_CriticallyLow6 {
    fill: #FFFFFF;
}

.Production_CriticallyLow7 {
    fill: #7BFE00;
}

.Production_CriticallyLow8 {
    fill: #FFC10E;
}

.Production_CriticallyLow9 {
    fill: #F2CF3D;
}

.Production_CriticallyLow10 {
    fill: #6E95C7;
}

.Production_CriticallyLow11 {
    fill: #FF0008;
}

.Production_CriticallyLow12 {
    fill: #0BB35F;
}

.Production_CriticallyLow13 {
    fill: #FABF09;
}

.Production_CriticallyLow14 {
    fill: #C5C6C9;
}

.Production_CriticallyLow15 {
    fill: #E72328;
}

.Production_CriticallyLow16 {
    fill: #8BC35B;
}




.Production_StockPiled0 {
    fill: #6B9ACE;
}

    .Production_StockPiled1 {
        fill: #699CCD;
    }

.Production_StockPiled2 {
    fill: #9ABEE8;
}

.Production_StockPiled3 {
    fill: #8299B1;
}

.Production_StockPiled4 {
    fill: none;
    stroke: #8299B1;
    stroke-miterlimit: 10;
}

.Production_StockPiled5 {
    fill: #FE0304;
}

.Production_StockPiled6 {
    fill: #FFFFFF;
}

.Production_StockPiled7 {
    fill: #7BFE00;
}

.Production_StockPiled8 {
    fill: #FFC10E;
}

.Production_StockPiled9 {
    fill: #F2CF3D;
}

.Production_StockPiled10 {
    fill: #6E95C7;
}

.Production_StockPiled11 {
    fill: #FF0008;
}

.Production_StockPiled12 {
    fill: #0BB35F;
}

.Production_StockPiled13 {
    fill: #FABF09;
}

.Production_StockPiled14 {
    fill: #C5C6C9;
}

.Production_StockPiled15 {
    fill: #E72328;
}

.Production_StockPiled16 {
    fill: #8BC35B;
}



.Production_Internal0 {
    fill: #6B9ACE;
}

.Production_Internal1 {
    fill: #699CCD;
}

.Production_Internal2 {
    fill: #9ABEE8;
}

.Production_Internal3 {
    fill: #8299B1;
}

.Production_Internal4 {
    fill: none;
    stroke: #8299B1;
    stroke-miterlimit: 10;
}

.Production_Internal5 {
    fill: #FE0304;
}

.Production_Internal6 {
    fill: #FFFFFF;
}

.Production_Internal7 {
    fill: #7BFE00;
}

.Production_Internal8 {
    fill: #FFC10E;
}

.Production_Internal9 {
    fill: #F2CF3D;
}

.Production_Internal10 {
    fill: #6E95C7;
}

.Production_Internal11 {
    fill: #FF0008;
}

.Production_Internal12 {
    fill: #0BB35F;
}

.Production_Internal13 {
    fill: #FABF09;
}

.Production_Internal14 {
    fill: #C5C6C9;
}

.Production_Internal15 {
    fill: #E72328;
}

.Production_Internal16 {
    fill: #8BC35B;
}


.Production_Home0 {
    fill: #FE0304;
}

.Production_Home1 {
    fill: #9ABEE8;
    stroke: #8299B1;
    stroke-miterlimit: 10;
}

.Production_Home2 {
    fill: #9ABEE8;
    stroke: #8299B1;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.Production_Home3 {
    fill: #699CCD;
}

.Production_Home4 {
    fill: #6B9ACE;
}

.Production_Home5 {
    fill: #FFFFFF;
}

.Production_Home6 {
    fill: none;
    stroke: #699CCD;
    stroke-width: 6;
    stroke-miterlimit: 10;
}

.Production_Home7 {
    fill: none;
    stroke: #8299B1;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.Production_Home8 {
    fill: none;
    stroke: #8299B1;
    stroke-width: 6;
    stroke-miterlimit: 10;
}

.Production_Home9 {
    fill: #F2CF3D;
    stroke: #6E95C7;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.Production_Home10 {
    fill: none;
    stroke: #6E95C7;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.Production_Home11 {
    fill: none;
    stroke: #8299B1;
    stroke-width: 10;
    stroke-miterlimit: 10;
}

.Production_Home12 {
    fill: none;
    stroke: #8299B1;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.Production_Home13 {
    fill: none;
    stroke: #8299B1;
    stroke-miterlimit: 10;
}

.Production_Home14 {
    fill: #8299B1;
}

.Production_Home15 {
    fill: none;
    stroke: #8299B1;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.Production_Home16 {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.Production_Home17 {
    fill: #7BFE00;
}

.Production_Home18 {
    fill: #FFC10E;
}

.Production_Home19 {
    fill: #6E95C7;
}

.Production_Home20 {
    fill: #F2CF3D;
    stroke: #6E95C7;
    stroke-miterlimit: 10;
}

.Production_Home21 {
    fill: none;
    stroke: #6E95C7;
    stroke-miterlimit: 10;
}

.Production_Home22 {
    fill: #C5C6C9;
}

.Production_Home23 {
    fill: #FF0008;
}

.Production_Home24 {
    fill: #0BB35F;
}

.Production_Home25 {
    fill: #FABF09;
}

.Production_Home26 {
    fill: #8BC35B;
}

.Production_Home27 {
    fill: #E72328;
}
    