<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>Inventory and Order Management &copy; 2018 <a href="https://coderush.co">CodeRush</a>.</strong>
</footer>