@{
    ViewData["Title"] = "Access denied";
}



<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>You do not have access to this resource.</h3>
        </div>
    </div>
</div>