@{
    ViewData["Title"] = "Confirm email";
}



<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>Thank you for confirming your email.</h3>
        </div>
    </div>
</div>