@{
    ViewData["Title"] = "Confirm email notification";
}




<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>We have sent email confirmation to your registered email address.</h3>
            <h4>Please follow the email instruction for account activation.</h4>
        </div>
    </div>
</div>