@{
    ViewData["Title"] = "Forgot password confirmation";
}



<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>Please check your email to reset your password.</h3>
        </div>
    </div>
</div>