@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="register-box">
   
    <div class="register-box-body">
        <div class="register-logo">
            <a href="/"><b>Inven</b>Tory</a>
        </div>
        <p class="login-box-msg">Forgot Password</p>
        <form asp-action="ForgotPassword" method="post">
            <div class="form-group has-feedback">
                <label asp-for="Email"></label>
                <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-flat">Reset Password</button>
        </form>



    </div>
    <!-- /.form-box -->
</div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
