@{
    ViewData["Title"] = "Locked out";
}

<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>This account has been locked out, please try again later.</h3>
        </div>
    </div>
</div>

