@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="register-box">
    
    <div class="register-box-body">
        <div class="register-logo">
            <a href="/"><b>Inven</b>Tory</a>
        </div>
        <p class="login-box-msg">Register a new membership</p>
        <form method="post">

            <input asp-for="Code" type="hidden" />

            <div class="form-group has-feedback">
                <label asp-for="Email"></label>
                <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Retype password" />
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-flat">Reset</button>




        </form>


    </div>
    <!-- /.form-box -->
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
