@{
    ViewData["Title"] = "Reset password confirmation";
}


<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>Your password has been reset. Please <a asp-action="Login">click here to log in</a>.</h3>
        </div>
    </div>
</div>