   .st0 {fill: #CBC4C9;}.st1 {fill: #E5DCE1;}.st2 {fill: #69696B;}.st3{fill: #2C2C2D;}.st4 {fill: #DBD5DA;}
    .st02{fill: #E5DCE1;}.st12 {fill: #69696B;}.st22 {fill: #BBB5B9;}
    .st03{fill:#CBC4C9;}.st13{fill:#E5DCE1;}.st23{fill:#69696B;}.st33{fill:#FFFFFF;}.st43{fill:#CACACE;}.st53{fill:#DBD5DA;}
    .st04{fill:#CBC4C9;}.st14{fill:#E5DCE1;}.st24{fill:#DBD5DA;}.st34{fill:#69696B;}.st44{fill:#FFFFFF;}
    .st05{fill:#BBB5B9;}.st15{fill:#FFFFFF;}.st25{fill:#E5DCE1;}.st35{fill:#DBD5DA;}.st45{fill:#69696B;}
    .st051{fill:#CBC4C9;}.st152{fill:#E5DCE1;}.st252{fill:#DBD5DA;}.st3552{fill:#69696B;}
    .st05a{fill:#D4D4D4;}.st15q{fill:#69696B;}.st25f{fill:#E5DCE1;}.st35fd{fill:#DBD2D8;}
    .st08{fill:#DBD5DA;}.st18{fill:#E5DCE1;}.st28{fill:#BBB5B9;}.st328{fill:#DBD2D7;}.st4ed{fill:#656666;}